/* --------------- */
/* --- DEKSTOP --- */

@media (max-width: 1300px) {
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        width: 100%;
        height: auto;
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        overflow-x: hidden;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    li {
        list-style: none;
    }
    
    .container {
        width: 100%;
        padding: 0 30px;
        margin: 0 auto;
    }
    
    /* -------------- */
    /* --- HEADER --- */

    .Header {
        width: 100%;
        height: 50px;
        background-color: #D9D9D9;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 13px;
        margin: 0px;
    }
    
    .nav a {
        margin: 0px 30px;
    }

    /* ------------ */
    /* --- MAIN --- */

    .main h1 {
        text-align: center;
        padding-top: 15px;
    }

    /* ------------- */
    /* --- GROUP --- */

    .gigagroup {
        display: grid;
        grid-template-rows: repeat(7, 100px);
        grid-template-columns: repeat(10, 100px);
        grid-gap: 33px;
    }
    
    .right-group {
        grid-area: 1/6/5/9;
        background-color: #F4F4F4;
        border-radius: 20px;
    }

    .right-bottom-group {
        grid-area: 5/6/7/9;
        background-color: #F4F4F4;
        border-radius: 20px;
    }

    /* ------------------ */
    /* --- CHARACTERS --- */

    .luffy {
        grid-area: 1/2/3/6;
        background-color: #FFF4DC;
        border-radius: 20px;
    }

    .zoro {
        grid-area: 3/2/5/4;
        background-color: #E1FFDC;
        border-radius: 20px;
        text-align: center;
    }
    
    .nami {
        grid-area: 5/2/7/4;
        background-color: #FFCED7;
        border-radius: 20px;
        text-align: center;
    }
    
    .sanji {
        grid-area: 3/4/7/6;
        background-color: #E2F2FF;
        border-radius: 20px;
        text-align: center;
    }

    .usopp, .chopper, .robin {
        width: 323px;
        height: 96px;
        margin: 45px 18px 0px 18px;
        background-color: white;
        border-radius: 20px;
        border: 2px solid #D8D6C1;
        font-size: 20px;
    }

    .chopper, .robin {
        margin-top: 60px;
    }

    .luffy img {
        width: 240px;
        height: 240px;
        position: relative;
        bottom: 30px;
    }
    
    .zoro img {
        width: 219px;
        height: 158px;
        display: flex;
        align-items: center;
        position: relative;
        left: 10px;
        top: 20px;
    }

    .nami img {
        width: 238px;
        height: 184px;
    }

    .sanji img {
        width: 200px;
        height: 200px;
    }

    .usopp img, .robin img {
        position: relative;
        top: 10px;
        left: 20px;
    }

    .usopp img, .robin img {
        width: 70px;
        height: 70px;
    }

    .chopper img{
        width: 60px;
        height: 79px;
        position: relative;
        top: 7px;
        left: 16px;
    }

    .brook img {
        width: 90px;
        height: 104px;
        position: relative;
        top: 70px;
    }
    
    .jinbe img {
        width: 94px;
        height: 87px;
        position: relative;
        left: 180px;
        bottom: 110px;
    }

    .txt-l {
        position: relative;
        bottom: 260px;
        left: 230px;
    }

    .nama-l {
        font-size: 32px;
        font-weight: 550;
    }

    .nama-s {
        font-size: 27px;
        font-weight: 550;
        position: relative;
        bottom: 20px;
    }

    .nama-u, .nama-c, .nama-r {
        position: relative;
        left: 100px;
        bottom: 75px;
    }

    .nama-c {
        bottom: 85px;
    }

    .nama-b, .nama-j {
        font-size: 15px;
    }

    .nama-b {
        position: relative;
        left: 90px;
        bottom: 30px;
    }

    .nama-j {
        position: relative;
        left: 275px;
        bottom: 212px;
    }

    .desc-s {
        width: 180px;
        height: 54px;
        position: relative;
        left: 30px;
        bottom: 30px;
    }

    /* -------------- */
    /* --- BUTTON --- */

    .btn {
        position: relative;
        text-align: center;
        color: white;
        border: none;
        cursor: pointer;
    }

    .l, .z, .n , .s {
        font-size: 20px;
        border-radius: 15px;
    }

    .z, .n {
        width: 173px;
        height: 37px;
    }

    .l {
        width: 240px;
        height: 37px;
        background-color: #E29A00;
    }

    .z {
        background-color: #7EB782;
        position: relative;
        top: 20px;
    }

    .n {
        background-color: #FF5573;
        position: relative;
        bottom: 12px;
    }

    .s {
        width: 173px;
        height: 37px;
        background-color: #3279AF;
        position: relative;
        bottom: 10px;
    }

    .u, .c, .r {
        width: 149px;
        height: 22px;
        font-size: 12px;
        background-color: #D8D6C1;
        border-radius: 10px;
        position: relative;
        bottom: 100px;
        left: 100px;
    }

    .c {
        bottom: 110px;
    }

    .b, .j {
        width: 80px;
        height: 35px;
        border-radius: 10px;
        background-color: #D8D6C1;
        font-size: 12px;
    }

    .b {
        position: relative;
        left: 90px;
        bottom: 38px;
    }

    .j {
        position: relative;
        left: 275px;
        bottom: 218px;
    }

}

/* -------------- */
/* --- MOBILE --- */

@media (max-width: 426px) {
    /* -------------- */
    /* --- HEADER --- */

    header {
        position: fixed;
        bottom: 0px;
        z-index: 1;
        background-color: #D9D9D9;
    }
    
    .Header {
        width: 100%; 
        height: 70px;
        margin: 0px;
    }
    
    ul {
        position: relative;
        left: -15px;
        font-size: 14px;
        margin: 0px -10px;
    }
    
    li {
        width: 100px;
        margin-top: 10px;
    }

    .nav a {
        margin: 0px 0px;
    }

    .B {
        padding-left: 20px;
    }

    /* ------------ */
    /* --- MAIN --- */

    .main h1 {
        text-align: center;
        right: 0px;
    }

    /* ------------- */
    /* --- GROUP --- */

    .gigagroup {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin-left: 25px;
    }

    .right-group {
        width: 0px;
        height: 0px;
        position: relative;
        right: 15px;
    }

    .right-bottom-group {
        width: 0px;
        height: 0px;
        position: relative;
    }

    /* ------------------ */
    /* --- CHARACTERS --- */

    .luffy {
        width: 278px;
        height: 310px;
    }

    .zoro, .nami, .usopp, .chopper, .robin, .brook, .jinbe {
        width: 278px;
        height: 280px;
    }

    .sanji {
        width: 278px;
        height: 350px;
        margin-top: 50px;
    }

    .usopp, .chopper, .robin {
        border: none;
        background-color: #E9E8E2;
    }

    .brook, .jinbe {
        position: relative;
        left: 5px;
        bottom: -1035px;
    }

    .brook {
        background-color: #FFDBC5;
        border-radius: 20px;
    }

    .jinbe {
        background-color: #8FC5ED;
        border-radius: 20px;
        margin-top: 60px;
        padding-bottom: 100px;
    }

    .luffy img {
        position: relative;
    }

    .zoro img {
        width: 259px;
        height: 198px;
        position: relative;
        left: 10px;
        top: 20px;
    }

    .nami img {
        width: 258px;
        height: 204px;
        position: relative;
        top: 13px;
    }

    .sanji img {
        width: 250px;
        height: 250px;
        position: relative;
        bottom: 50px;
    }

    .usopp img, .robin img, .chopper img, .brook img, .jinbe img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .usopp img, .robin img {
        width: 250px;
        height: 250px;
    }

    .chopper img{
        width: 240px;
        height: 259px;
    }

    .brook img, .jinbe img {
        width: 240px;
        height: 259px;
    }

    .brook img {
        position: relative;
        left: 20px;
        top: 10px;
    }

    .jinbe img {
        position: relative;
        left: 20px;
        top: 10px;
    }

    .txt-l {
        position: relative;
        top: -100px;
        left: 0px;
    }

    .luffy p{
        position: relative;
        bottom: -55px;
    }

    .nama-l {
        font-weight: 500;
    }

    .nama-s {
        font-weight: 500;
        position: relative;
        bottom: 50px;
    }

    .nama-u, .nama-c, .nama-r, .nama-b, .nama-j {
        font-size: 0px;
    }

    .desc-l {
        position: relative;
        top: 20px;
    }

    .desc-s {
        width: 220px;
        height: 54px;
        position: relative;
        left: 30px;
        bottom: 70px;
    } 

    /* -------------- */
    /* --- BUTTON --- */

    .btn {
        width: 212px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .l, .z, .n, .s, .u, .c, .r {
        position: relative;
        left: 30px;
    }

    .l {
        top: -100px;
    }

    .z {
        background-color: #7EB782;
        top: 20px;
    }

    .n {
        background-color: #FF5573;
        top: 5px;
    }

    .s {
        bottom: 240px;
    }

    .u, .c, .r, .b, .j {
        font-size: 20px;
    }

    .u {
        position: relative;
        bottom: 35px;
    }

    .c {
        position: relative;
        bottom: 45px;
    }

    .r {
        position: relative;
        bottom: 35px;
    }

    .b {
        position: relative;
        left: 35px;
        bottom: 45px;
    }

    .j {
        position: relative;
        left: 35px;
        top: -45px;
    }

    .end {
        position: relative;
        width: 100px;
        height: 100px;
        bottom: -1100px;
    }
}